<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { ref,provide } from 'vue';
import MainAppBar from './components/MainAppBar.vue';
import MainMenu from './components/MainMenu.vue';
const rail = ref(true)
const drawer = ref(true)


provide('rail',rail)
provide('drawer',drawer)
</script>

<template>
  <v-layout class="rounded rounded-md">
      <MainAppBar />
      <MainMenu />

    <v-main class="d-flex align-center justify-center" style="min-height: 300px;">
      <RouterView/>
    
    </v-main>
  </v-layout>
</template>

<style scoped>

</style>
